.feedback{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center; 
}

.feedback video{
    width: 100%;
    height: 100vh;
    object-fit: cover;
    position: absolute;
}

form{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

form button{
    align-self: center;
}
